In [11]:
import pandas as pd
from sqlalchemy import create_engine
import os
import requests
from urllib.parse import urlparse
import shutil
import gzip

In [16]:
# Dataset download and preparation

url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz'

# Extract file name from the url
a = urlparse(url)
zip_file = os.path.basename(a.path)

# Use requests to access content
response = requests.get(url)

# Write content to the file
with open(zip_file, 'wb') as file:
    file.write(response.content)

In [17]:
# Extract the zip file
with gzip.open(zip_file, 'rb') as f_in:
    with open(zip_file[:-3],'wb') as f_out:
        shutil.copyfileobj(f_in,f_out)

In [18]:
# Download the csv dataset

# Use requests to access content
response = requests.get('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

# Write content to the file
with open('taxi+_zone_lookup.csv', 'wb') as file:
    file.write(response.content)

In [19]:
# Work with the dataset
df_iter = pd.read_csv('./green_tripdata_2019-09.csv',chunksize=100000,iterator=True)

In [20]:
df = next(df_iter)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-09-08 21:34:31,2019-09-08 21:42:44,N,1,74,151,1,2.12,8.5,0.5,0.5,2.45,0.0,NaN,0.3,12.25,1,1,0.0
99996,2,2019-09-08 21:06:54,2019-09-08 21:12:38,N,1,130,28,1,0.83,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
99997,2,2019-09-08 21:22:10,2019-09-08 21:29:33,N,1,130,10,1,2.56,9.5,0.5,0.5,2.00,0.0,NaN,0.3,12.80,1,1,0.0
99998,2,2019-09-08 21:33:42,2019-09-08 21:33:48,N,5,92,92,1,0.13,22.0,0.0,0.0,0.00,0.0,NaN,0.0,22.00,1,2,0.0
99999,2,2019-09-08 21:29:16,2019-09-08 21:36:45,N,1,7,7,1,1.09,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0

In [21]:
# Import zones dataframe

zones = pd.read_csv('./taxi+_zone_lookup.csv')
zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [22]:
# Chnage dataes in the df dataframe
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
engine = create_engine('postgresql://root:root@localhost:5432/green_taxi')

In [37]:
engine.connect()

In [38]:
from time import time

while True:
    start = time()

    df = next(df_iter)

    df.to_sql('green_taxi_data',con=engine,if_exists='append')

    end = time()

    print(f"Data input took %.3f {start - end} secs")

Data input took %.3f -10.92419695854187 secs
Data input took %.3f -10.485548257827759 secs

C:\Users\Daniel\AppData\Local\Temp\ipykernel_20824\1141718411.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Data input took %.3f -11.054108619689941 secs
Data input took %.3f -5.161495208740234 secs

StopIteration:

In [39]:
zones.to_sql('zones',con=engine,if_exists='append')

265

**Question 5**

```
SELECT z.Borough, SUM(t.total_amount) as total_amount
FROM taxi_trips t
JOIN zone_data z ON t.PULocationID = z.LocationID
WHERE DATE(t.lpep_pickup_datetime) = '2019-09-18' AND z.Borough != 'Unknown'
GROUP BY z.Borough
HAVING total_amount > 50000
ORDER BY total_amount DESC
LIMIT 3;
```